body{
  font-family: sans-serif;
   margin: 50px;
    padding-top: 90px;
    margin-top: 0;
}
      .wrapper{
        min-height: 30rem;
    }
        nav{
        width: 100%;
        height: 80px;
        background-color: #0005;
        line-height: 80px;
        position: fixed;
        top: 0;
    }
    h2{
      margin-top: 20px;
    }

    nav ul{
        float: right;
        margin: 0;
        margin-right: 1.9rem;

    }

    nav ul li{
        list-style-type: none;
        display: inline-block;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        padding: 20px;
    }
    img{
        width: 14%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav ul li:hover{
        background-color: maroon;
        color: #000;
        font-weight: bold;
        font-size: 1.2rem;
    }
/* HERO SECTION */
.hero{
    background: url(./college.jpeg);
    color:white;
    padding:100px 10%;
    text-align:center;
}
.hero h1{
    font-size:45px;
    background-color: #FFF7DD;
    opacity: 0.7;
    color: maroon;
}
.hero p{
    font-size:20px;
    background-color: maroon;
    opacity: 0.8;
}

/* SECTIONS */
.section{
    padding:60px 10%;
  margin-bottom:20px;
  background: #ffffff;
}
.section h2{
    font-size:30px;
    margin-bottom:10px;
    color: #b30000;
    background-color: #FFF7DD;
}
.section p{
    font-size:17px;
    line-height:1.7;
}
/* DIRECTOR */
.director-section{
    background: #FFF7DD;
    opacity: 0.8;
    color: black;
    
}
.director-box{
    display:flex;
    gap:30px;
    align-items:center;
}
.director-box h1{
    color: #b30000;
}
.director-box img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid #203a43;
}

/* MISSION VISION */
.mission-vision{
    display:flex;
    gap:30px;
    justify-content: center;
    padding: 60px;
}
.card{
    background: #ffffff;
    padding:30px;
    border-radius:12px;
    width:300px;
    box-shadow: 0 5px 15px rgba(0,0,0,08);
    transition: 0.3s;
    color: #b30000;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* STATS */
.stats{
    display:flex;
    gap:20px;
}
.stat-box{
    background: #ffffff;
    padding:30px;
    border-radius:12px;
    width:300px;
    box-shadow: 0 5px 15px rgba(0,0,0,08);
    transition: 0.3s;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    color: #b30000;
    letter-spacing: 1px;
}
.stat-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* FACILITIES */
.facilities{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
.facility-box{
      background: #ffffff;
    padding:30px;
    border-radius:12px;
    width:300px;
    box-shadow: 0 5px 15px rgba(0,0,0,08);
    transition: 0.3s;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    color: #b30000;
    letter-spacing: 1px;
}
.facility-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}



/* FOOTER */
footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
}
.card p{
    color: black;
}
.aaliya{
    line-height: 1px;
}