
body{
  font-family: sans-serif;
  background:linear-gradient(135deg,#74ABE2,#5563DE);
   margin: 50px;
    padding-top: 90px;
    margin-top: 0;
}
      .wrapper{
        background: url()
        no-repeat center center;
        min-height: 30rem;
    }
        nav{
        width: 100%;
        height: 80px;
        background-color: #0005;
        line-height: 80px;
        position: fixed;
        top: 0;
    }
    h2{
      margin-top: 20px;
    }

    nav ul{
        float: right;
        margin: 0;
        margin-right: 1.9rem;

    }

    nav ul li{
        list-style-type: none;
        display: inline-block;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        padding: 20px;
    }
    img{
        width: 14%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav ul li:hover{
        background-color: maroon;
        color: #000;
        font-weight: bold;
        font-size: 1.2rem;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    background: #E8E2D8;
    width: 800px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.contact-wrapper h1 {
    text-align: center;
    color: #333;
}

.tagline {
    text-align: center;
    margin: 10px 0 30px;
    color: solid black;
}
.contact-wrapper {
    background: #EAF4FF;
    padding: 40px;
    border-radius: 20px;
    max-width: 1100px;
    margin: auto;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: gray;
}

/* First horizontal row */
.branch-row {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.branch-box {
    flex: 1;
    background: #F8F9FA;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Second horizontal row */
.contact-info-row {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info-item {
    flex: 1;
    text-align: center;
}

.info-item h4 {
    color: #007bff;
    margin-bottom: 10px;
}
/* Mobile responsive */
@media (max-width: 600px) {
    .contact-wrapper {
        width: 90%;
    }

    .info-box {
        grid-template-columns: 1fr;
    }
}