h2{
  font-size:28px;
  margin-top:100px;
  text-align: center;
}

/* Gallery Grid */
.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
  gap:15px;
  padding:20px;
  column-count: 4;
  column-gap: 15px;
  padding: 20px;
  margin-top: 20px;
}

.gallery img, .gallery video{
  width:100%;
  border-radius:10px;
  cursor:pointer;
  box-shadow:0 5px 10px rgba(0,0,0,0.3);
  transition:0.3s;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
  height: 250px;
  
}

.gallery img:hover{
  transform:scale(1.05);
}

/* Full Screen Popup */
#popup{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

#popup img{
  width:90%;
  max-width:700px;
}

#popup span{
  position:absolute;
  top:20px;
  right:30px;
  font-size:40px;
  color:white;
  cursor:pointer;
}
#popup video{
  width: 90%;
  max-width: 700px;
  height: 50%;
}